aside {
  /* background-color: aquamarine; */
  position: fixed;
  inset: 0 0 0 0;
  transform-origin: right;
  z-index: 1000;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-areas:
    'overlay cart';

}

.grid-cart {
  grid-area: cart;
}

.grid-overlay {
  grid-area: overlay;
}
.cart-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75%
}
.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem 0;
  height: 100px;
}
.cart-title {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem 0;
}
.cart-thumbnail {
  width: 100px;
  height: 100px;
}
.cart-detail-container {
  /* outline: 1px solid red; */
  display: flex;
  align-items: center;
  /* width: 200px; */
}
.cart-name {
  text-align: start;
  width: 9rem;
  margin: 0 0.5rem;
}
.cart-price {
  margin: 0 0.5rem;
  /* text-align: center; */
}
.cart-total {
  display: flex;
  justify-content: space-between;
}
.cart-total span {
  /* margin-left: 2rem; */
  font-weight: 600;
}
.cart {
  background-color: var(--bgColor);
  box-shadow: -10px 0 10px rgb(102, 102, 102);
  padding: 1rem 2rem;
  overflow-y: scroll;

}

.overlay {
  /* background-color: white; */
  /* opacity: 85%; */
  background-color: rgba(255, 255, 255, .9);
  backdrop-filter: blur(3px);
}
.qty-container {
  display: flex;
  /* outline: 1px solid red; */
  justify-content: space-around;
  align-items: center;
  width: 175px;
  /* margin-top: 1rem; */
  /* outline: 1px solid red; */
}

.checkout-btn {
  margin: 0;
  margin-top: 2rem;
}
@media only screen and (max-width: 60em) {
  .cart-detail-container {
    display: block;
  }
}
@media only screen and (max-width: 40em) {
  .overlay {
    display: none
  }

  aside {
    grid-template-columns: 1fr;
    grid-template-areas: 'cart';
  }
/*
  .cart-detail-container {
    display: flex;
  } */
}
