.about-container {
  padding: 1rem 3rem;
  color: white;
  background-color: #22223b;
  font-size: 1rem;
  position: absolute;
  min-height: 100vh;
  /* font-family: var(--bodyFont); */
}

.about-container h5 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--bodyFont);
  margin: 2rem 0;
  margin-bottom: 1rem;
}

.about-container h6 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--bodyFont);
  opacity: 0.65;
  margin-block: 1rem;
}

.about-container a {
  /* color: var(--logoColor) */
  color: lightgreen;
  font-weight: 600;
}

.home-link {
  font-family: var(--logoFont);
  font-size: 1.4rem;
  font-weight: 900;
}