/* GLOBAL VALUES */


* {
  padding: 0;
  margin: 0;

  /* font-size: 0.8rem; */
}
header {
  background-color: var(--navColor);
  z-index: 1000;
  font-size: 1rem;
  /* padding: 20px; */
}

nav {
  height: 3.1rem;
  width: 100%;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 2.5rem 5fr 2rem;
  grid-template-rows: 1fr;
  grid-template-areas: 'col-1 col-2 col-3';
  gap: 1.5rem;
  justify-items: center;
  align-items: center;
  /* outline: 1px solid red; */
  /* position: fixed; */
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILITY CLASS */


.grid-col-1 {
  grid-area: col-1;
}

.grid-col-2 {
  grid-area: col-2;
}

.grid-col-3 {
  grid-area: col-3;
}

.spread {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

/* CLASSES */
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--logoColor);
}

.menu-icon {
  display: none;
  cursor: pointer;
}
.nav-link-group {
  width: 100%;
  display: flex;
  flex-direction: row;

}
.nav-link {
  display: inline-block;
  margin: 0 1rem;
}

.sub-menu {
  background-color: var(--navColor);
  padding: 1rem 2rem;
  transform-origin: top;
  z-index: 100;
  box-shadow: 1px 5px 5px rgb(226, 226, 226);
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
}

.menu-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 6fr;
  grid-template-areas: 'category images';
  padding: 10px;
  /* outline: 1px solid red; */
}
.img-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-container {
  margin: 0.5rem;
}

.grid-category {
  grid: category;
}

.grid-images {
  grid: images;
}

.category-link-container {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.category-link-container li {
  list-style-type: none;
  display: inline-block;
  margin: 0.5rem 0;
}

.category-link {
  transition: color 400ms ease;
}

.category-link a:hover {
  color: var(--logoColor);
}

.menu-image {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
  max-width: 225px;
}

.mobile-menu-container {
  display: none;
  transform-origin: top;
  background-color: white;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 0;
}
.mobile-menu-link {
  padding: 1rem 0;
  text-align: center;
  background-color: var(--bgColor);
}
/* media queries */
@media only screen and (max-width: 40em) {
  .nav-link-group {
    display: none;
  }
  .logo {
    grid-area: col-2;
  }

  .menu-icon {
    display: block;
  }

  .mobile-menu-container {
    display: block;
  }
}
